@font-face {
  font-family: 'SuperMagic-Bold';
  src:
    url('/public/fonts/SuperMagic-Bold.woff2') format('woff2'),
    url('/public/fonts/SuperMagic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src:
    url('/public/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/public/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound-Bold';
  src:
    url('/public/fonts/NanumSquareRoundB.woff2') format('woff2'),
    url('/public/fonts/NanumSquareRoundB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Happiness-Bold';
  src:
    url('/public/fonts/Happiness-Sans-Bold.woff2') format('woff2'),
    url('/public/fonts/Happiness-Sans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Happiness-Regular';
  src:
    url('/public/fonts/Happiness-Sans-Regular.woff2') format('woff2'),
    url('/public/fonts/Happiness-Sans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
