@import './theme.css';

:root {
  --background: #fefee3;
  --foreground: #171717;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 스크롤바 숨기기 */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.Toastify__toast-icon {
  width: 20px;
  height: 20px;
  margin-inline-end: 8px !important;
  fill: #fefee3 !important;
}

/* eidtor css 변경 */
.ql-editor {
  font-family: var(--font-HappinessR);
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  padding: 0px !important;
  color: #333 !important;
}

.ql-editor.ql-blank::before {
  left: 0px !important;
  font-style: normal !important;
  font-family: var(--font-HappinessR) !important;
  color: #ccc !important;
}

@media (max-width: 768px) {
  .ql-editor {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
  }
}
